<html>

    <head>
        <title> Quotes App </title>
        <link rel = "stylesheet" href = "/static/styles.css">
    </head>

    <body>
        <header>

            <h1> Quotes Application </h1>

            <nav>
                <ul>
                    <li><a href = ""> Home </a></li>
                    <li><a href="quote"> Random Quote </a></li>
                    <li><a href="show_all"> Show All Quotes </a></li>
                    <li><a href="about"> About </a></li>
                </ul>
            </nav>

        </header>
    
        <div class = "content">
            <p> Quotes by an amazing The Rock </p>
        </div>
    
    </body>

</html>