<html>

    <head>
        {% load static %}
        <title>Mini FB</title>
        <link rel="stylesheet" href="{% static 'styles_4.css' %}?v=1.1">
    </head>

    <body>
        <div class="grid-container">

            <header>
                <h1>🏎️ Formula One Social Network 🏁</h1>
            </header>

            <nav>
                <!-- URLs that do not depend on authentication status -->
                <a href="{% url 'show_all' %}">Home</a>
                <a href="{% url 'create_profile' %}">Register</a>

                <!-- URLs that depend on authentication status -->
                {% if request.user.is_authenticated %}
                <form action="{% url 'logout' %}" method="post" style="display: inline;">
                    {% csrf_token %}
                    <button type="submit" class="link-style-button">
                        Log out
                    </button>
                </form>
                {% else %}
                    <a href="{% url 'login' %}">Log in</a>
                {% endif %}


                {% if request.user.is_authenticated %}
                    Logged in user: {{ request.user }}.
                {% else %}
                    Not logged in.
                {% endif %}
                
            </nav>

            <main>
                <div class="content">
                    {% block content %}
                    <!-- Content for each page will be placed here -->
                    {% endblock %}
                </div>
            </main>

            <footer>
                <p>🏁 © 2024 Formula One Social Network | All Rights Reserved 🏎️</p>
                
            </footer>

        </div>
    </body>

</html>
