{% extends 'mini_fb/base.html' %}

{% load static %}

{% block content %}

<head>
    <title> Delete Images </title>
</head>

<body>
    <h2> Remove an Image from the Message </h2>

    <table border="1" cellpadding="10" cellspacing="0" 
            style="width: 100%; border-collapse: collapse; table-layout: fixed;">
            <thead>
                <tr>
                    <th> Images </th>
                    <th style="width: 90px;">Action</th>
                </tr>
            </thead>
        <tbody>
                {% for img in status_message.get_images %}
                    <tr>
                        <td>
                            <img src="{{ img.image.url }}" alt="{{ img.image.name }}" style="padding-bottom: 10px;">  
                        </td>
                        <td>
                            <a href="{% url 'delete_message_image' img.pk %}" 
                               style="display: inline-block; background-color: #d9534f; color: white; 
                                      text-decoration: none; padding: 7px 13px; font-size: 0.8em; 
                                      border-radius: 10px; transition: background-color 0.3s ease; 
                                      cursor: pointer; margin: 5px;"
                               onmouseover="this.style.backgroundColor='#c9302c';"
                               onmouseout="this.style.backgroundColor='#d9534f';">
                                delete
                            </a>
                        </td>
                    </tr>
                {% endfor %}
        </tbody>
    </table>
</body>

{% endblock %}
