{% extends 'mini_fb/base.html' %}

{% load static %}

{% block content %}

<head>
    <title>{{ profile.first_name }} {{ profile.last_name }}'s Profile</title>
</head>

<body>
    <div style="width: 80%; margin: 0 auto;">
        <h2>{{ user.first_name }} {{ user.last_name }}'s Profile</h2>

        <div style="display: flex; align-items: center; margin-bottom: 20px;">

            <div style="margin-right: 20px;">
                <img src="{{ user.profile_img_url }}" alt="Profile Image" style="width:300px; height:auto; border-radius: 10px;">
            </div>

            <div>
                <p><strong>First Name:</strong> {{ user.first_name }}</p>
                <p><strong>Last Name:</strong> {{ user.last_name }}</p>
                <p><strong>City:</strong> {{ user.city }}</p>
                <p><strong>Email:</strong> {{ user.email_address }}</p>
            </div>

        </div>

        <div style="margin-bottom: 20px;">
            <a href="{% url 'create_status' user.pk %}" style="display: block; margin: 20px 0px; padding: 10px 50px; background-color: #008f68; color: white; text-decoration: none; border-radius: 5px; text-align: center;">Post a Status</a>
        </div>

        <h3>Status Messages</h3>
        <table border="1" cellpadding="10" cellspacing="0" style="width: 100%; border-collapse: collapse;">
            <thead>
                <tr>
                    <th>Date Posted</th>
                    <th>Message</th>
                </tr>
            </thead>
            <tbody>
                {% for message in user.get_status_messages %}
                    <tr>
                        <td>{{ message.timestamp|date:"F j, Y, g:i a" }}</td>
                        <td>{{ message.message }}</td>
                    </tr>
                {% empty %}
                    <tr>
                        <td colspan="2">No status messages yet.</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</body>

{% endblock %}
