{% extends 'mini_fb/base.html' %}

{% load static %}

{% block content %}

<head>
    <title>{{ profile.first_name }} {{ profile.last_name }}'s Profile</title>
</head>

<body>
    <div style="width: 80%; margin: 0 auto;">
        <h2>{{ profile.first_name }} {{ profile.last_name }}'s Profile</h2>

        <div style="display: flex; align-items: center; margin-bottom: 20px;">

            <div style="margin-right: 20px;">
                <img src="{{ profile.profile_img_url }}" alt="Profile Image" style="width:300px; height:auto; border-radius: 10px;">
            </div>

            <div>
                <p><strong>First Name:</strong> {{ profile.first_name }}</p>
                <p><strong>Last Name:</strong> {{ profile.last_name }}</p>
                <p><strong>City:</strong> {{ profile.city }}</p>
                <p><strong>Email:</strong> {{ profile.email_address }}</p>
            </div>

        </div>

        {% if request.user.is_authenticated and request.user == profile.user_key %}
            <div style="margin-bottom: 20px;">
                <a href="{% url 'update_profile' profile.pk %}" style="display: block; margin: 20px 0px; padding: 10px 50px; background-color: #008f68; color: white; text-decoration: none; border-radius: 5px; text-align: center;">Update Profile</a>
            </div>
            
            <div style="margin-bottom: 20px;">
                <a href="{% url 'create_status' profile.pk %}" style="display: block; margin: 20px 0px; padding: 10px 50px; background-color: #008f68; color: white; text-decoration: none; border-radius: 5px; text-align: center;">Post a Status</a>
            </div>

            <div style="margin-bottom: 20px;">
                <a href="{% url 'see_suggestions' profile.pk %}" style="display: block; margin: 20px 0px; padding: 10px 50px; background-color: #008f68; color: white; text-decoration: none; border-radius: 5px; text-align: center;">Friend Suggestions</a>
            </div>

            <div style="margin-bottom: 20px;">
                <a href="{% url 'see_news' profile.pk %}" style="display: block; margin: 20px 0px; padding: 10px 50px; background-color: #008f68; color: white; text-decoration: none; border-radius: 5px; text-align: center;">News Feed</a>
            </div>
        {% endif %}

        <h3>Status Messages</h3>
        <table border="1" cellpadding="10" cellspacing="0" 
            style="width: 100%; border-collapse: collapse; table-layout: fixed;">
            <thead>
                <tr>
                    <th style="width: 90px; "> Modify </th>
                    <th style="width: 90px;">Date Posted</th>
                    <th>Message</th>
                    <th> Images </th>
                </tr>
            </thead>
            <tbody>
                {% for message in profile.get_status_messages %}
                    <tr>
                        <td>
                            <a href="{% url 'update_message' message.pk %}" 
                               style="display: inline-block; background-color: #00a67c; color: white; 
                                      text-decoration: none; padding: 7px 13px; font-size: 0.8em; 
                                      border-radius: 10px; transition: background-color 0.3s ease; 
                                      cursor: pointer; margin: 5px;"
                               onmouseover="this.style.backgroundColor='#008f68';"
                               onmouseout="this.style.backgroundColor='#00a67c';">
                                modify
                            </a>
                            <a href="{% url 'delete_message' message.pk %}" 
                               style="display: inline-block; background-color: #d9534f; color: white; 
                                      text-decoration: none; padding: 7px 13px; font-size: 0.8em; 
                                      border-radius: 10px; transition: background-color 0.3s ease; 
                                      cursor: pointer; margin: 5px;"
                               onmouseover="this.style.backgroundColor='#c9302c';"
                               onmouseout="this.style.backgroundColor='#d9534f';">
                                delete
                            </a>
                        </td>
                        <td>{{ message.timestamp|date:"F j, Y, g:i a" }}</td>
                        <td>{{ message.message }}</td>
                        <td>
                            {% for img in message.get_images %}
                            <img src="{{ img.image.url }}" alt="{{ img.image.name }}" 
                            style="padding-bottom: 10px; max-width: 300px; height: auto;">
                                <br>
                            {% endfor %}

                        </td>
                    </tr>
                {% empty %}
                    <tr>
                        <td colspan="4">No status messages yet.</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>


        <h3>{{ profile.first_name }}'s Friends</h3>
        <table border="1" cellpadding="10" cellspacing="0" 
            style="width: 100%; border-collapse: collapse; table-layout: fixed;">
            <thead style="border: none; padding: 0; margin: 0;">
                <tr style="border: none; padding: 0; margin: 0;">
                    <th colspan="5" 
                        style="text-align: center; color: white; padding: 0; background-color: transparent; border: none;">
                    </th>
                </tr>
            </thead>
            <table style="width: 100%; border-collapse: collapse; border-spacing: 0;">
                <tbody>
                    {% for row in friends_in_rows %}
                        <tr style="border: none; margin: 0; padding: 0;">
                            {% for friend in row %}
                                <td style="text-align: center; padding: 15px; border: none;">
                                    <a href="{% url 'show_profile' friend.pk %}">
                                        <div style="width: 100px; height: 100px; border-radius: 50%; margin: 0 auto; 
                                                    display: flex; align-items: center; justify-content: center; 
                                                    overflow: hidden; background-color: #f0f0f0;">
                                            <img src="{{ friend.profile_img_url }}" 
                                                 alt="{{ friend.first_name }}'s Profile Image" 
                                                 style="width: 100%; height: auto; min-height: 100%; object-fit: cover;">
                                        </div>
                                        <br>
                                        {{ friend.first_name }}
                                        <br>
                                        {{ friend.last_name }}
                                    </a>
                                </td>
                            {% endfor %}
                        </tr>
                    {% empty %}
                        <tr>
                            <td colspan="5" style="text-align: center; padding: 20px; border: none;">
                                No friends yet.
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
    </div>
</body>

{% endblock %}
