{% extends 'quotes/base.html' %}

{% block content %}

<html>
    <head>
        <title> Random Quote </title>
        {% load static %}
        <link rel="stylesheet" href="{% static 'styles.css' %}?v={{ time.time|floatformat:0 }}">
    </head>

    <body>

        <h1> Random Quote by Dwayne "The Rock" Johnson </h1>
        <br>
        <br>
        <table class = "quote-table">
            <tr>
                <td>
                    <img src="{% static 'images/' %}{{ image }}" alt="Image">
                </td>
                <td>
                    <p class="quote-text">"{{ quote }}"</p>
                </td>
            </tr>
        </table>

    </body>
</html>

{% endblock %}