{% extends 'investment_tracker/base.html' %}

{% load static %}

{% block content %}

    <h1>Asset Information</h1>

    <p><strong>Ticker:</strong> {{ asset.ticker }}</p>
    <p><strong>Name:</strong> {{ asset.name }}</p>
    <p><strong>Price per Unit:</strong> $<span id="price">{{ price|floatformat:2 }}</span></p>
    <p><strong>Type:</strong> {{ asset.asset_type }}</p>

    {% if from_portfolio %}
        <form method = "post" action = "{% url 'add_to_draft' asset.ticker %}">
            {% csrf_token %}
            <label for = "quantity"> Quantity: </label>
            <input type = "number" name = "quantity" id = "quantity" value = "1" min = "0.001" step = "0.001" required oninput="updateTotalCost()">
            
            <br>

            <label for = "total_cost"> Total Cost: </label>
            <input type = "number" name = "total_cost" id = "total_cost" value = "{{ price }}" min = "0.01" step = "0.01" required oninput="updateQuantity()">

            <br>

            <button type = "submit"> Add to Portfolio Draft </button>
        </form>

        <a href = "{% url 'all_assets' %}?from_portfolio=true"> Back to Asset Selection </a>
        <a href = "{% url 'create_portfolio' %}"> Back to Portfolio </a>

    {% endif %}

    <script src = "{% static 'js/asset_purchase.js' %}"></script>

{% endblock %}
