<div>
    <form method = "get" action = "{% url 'all_assets' %}">
        <input type = "hidden" name = "from_portfolio" value = "true">
        
        <label for = "asset_type"> Choose Asset Type: </label>
        <select name = "asset_type" id = "asset_type">
            <option value = "" disabled selected> Not Specified </option>
            <option value = "stock"> Stocks </option>
            <option value = "crypto"> Cryptocurrencies</option>
        </select>

        <label for = "name"> Search by Name: </label>
        <input type = "text" name = "name" id = "name" placeholder = "Enter asset name">

        <label for = "ticker"> Search by Ticker: </label>
        <input type = "text" name = "ticker" id = "ticker" placeholder = "Enter asset ticker">

        <label for = "sort_by"> Sort By: </label>
        <select name = "sort_by" id = "sort_by">
            <option value = "" disabled selected> Sort Options </option>
            <option value = "ticker_asc"> Ticker (A-Z) </option>
            <option value = "ticker_desc"> Ticker (Z-A) </option>
            <option value = "name_asc"> Name (A-Z) </option>
            <option value = "name_desc"> Name (Z-A) </option>
        </select>

        <button type = "submit"> Search </button>
    </form>
</div>