{% extends 'investment_tracker/base.html' %}

{% block content %}

    <h1> Create Portfolio </h1>

    

    <h2>Draft Assets</h2>

    {% if draft_assets %}
        <table width = "100%">
            <tr>
                <th>Ticker</th>
                <th>Quantity</th>
                <th>Price</th>
                <th>Total</th>
                <th style = "white-space: nowrap; width: 5%;">Action</th>
            </tr>
            {% for asset in draft_assets %}
            <tr>
                <td>{{ asset.ticker }}</td>
                <td>{{ asset.quantity }}</td>
                <td>${{ asset.price|floatformat:2 }}</td>
                <td>${{ asset.total_cost|floatformat:2 }}</td>
                <td>
                    <div class = "button-row-2">
                        <form method = "get" action = "{% url 'edit_draft_asset' asset.ticker %}">
                            <button type = "submit"> Edit </button>
                        </form>
                        <form method = "post" action = "{% url 'remove_draft_asset' asset.ticker %}">
                            {% csrf_token %}
                            <button type = "submit" class = "button button-red"> Remove </button>
                        </form>
                    </div>
                </td>
            </tr>
            <tr>
                <td colspan = "5">
                    <h3>Total Cost: ${{ total_cost|floatformat:2 }}</h3>
                </td>
            </tr>
            {% endfor %}
        </table>

    {% else %}
        No assets added yet.
    {% endif %}

    <div class = "button-row-2">
        <a href = "{% url 'all_assets' %}?from_portfolio=true" class = "button-link"> Add Draft Asset </a>

        {% if draft_assets %}
            <form method = "post" action = "{% url 'clear_draft_assets' %}">
                {% csrf_token %}
                <button type = "submit" class = "button button-red"> Clear Draft Assets </button>
            </form>
        {% endif %}
    </div>

    
    {% if draft_assets %}
        <h2> Provide a Name </h2>

        <form method = "post" action = "">
            {% csrf_token %}
            <input type = "text" name = "portfolio_name" id = "portfolio_name" placeholder = "Portfolio Name" required>
            <br>
            <button type = "submit"> Create Portfolio </button>
        </form>
    {% endif %}

{% endblock %}
