{% extends 'investment_tracker/base.html' %}

{% block content %}

    <div class = "container">

        <h2> Login </h2>

        <form method = "post">

            {% csrf_token %}

            <div>
                <input type = "text" name = "username" id = "username" class = "narrow-input" placeholder = "Username" required>
            </div>

            <div>
                <input type = "password" name = "password" id = "password" class = "narrow-input" placeholder = "Password" required>
            </div>

            <button type = "submit"> Log In </button>

        </form>

        {% if form.errors %}
            <p style = "color: red;"> Invalid username or password. </p>
        {% endif %}

        <br>
        Don't have an account? 
        <a href = "{% url 'register' %}"> <br> Register here </a>

    </div>

{% endblock %}