{% extends 'investment_tracker/base.html' %}

{% load humanize %}

{% block content %}

    <h1> {{ profile.first_name }}'s Portfolios </h1>

    {% if user_portfolios %}

        <table style = "width: 100%">

            <tr>
                <th style = "width: auto;"> Portfolio Name </th>
                <th style = "white-space: nowrap; width: 3%;"> Money <br> Invested </th>
                <th style = "white-space: nowrap; width: 3%;"> Current <br> Value </th>
                <th style = "white-space: nowrap; width: 8%;"> Value <br> Diff </th>
                <th style = "white-space: nowrap; width: 3%;"> Percent <br> Diff </th>
            </tr>

            {% for portfolio in user_portfolios %}
                <tr>
                    <td> <a href = "{% url 'portfolio' portfolio.slug %}"> {{portfolio.portfolio_name}} </a> </td>
                    <td class = "right_align"> ${{ portfolio.get_money_invested_in_portfolio|floatformat:2|intcomma  }} </td>
                    <td class = "right_align"> ${{ portfolio.get_current_portfolio_value|floatformat:2|intcomma  }} </td>
                    <td class = "right_align">
                        <span class = "{% if portfolio.get_portfolio_value_change|slice:":1" == "+" %}positive{% elif portfolio.get_portfolio_value_change|slice:":1" == "-" %}negative{% endif %}">
                            {{ portfolio.get_portfolio_value_change }}
                        </span>
                    </td>
                    <td class = "right_align">
                        <span class = "{% if portfolio.get_portfolio_value_change_percentage|slice:":1" == "+" %}positive{% elif portfolio.get_portfolio_value_change_percentage|slice:":1" == "-" %}negative{% endif %}">
                            {{ portfolio.get_portfolio_value_change_percentage }}
                        </span>
                    </td>
                </tr>
            {% endfor %}

        </table>

    {% else %}
            
        You don't have any portfolios. <a href = "{% url 'create_portfolio' %}"> Click here to create your first portfolio. </a>

    {% endif %}



{% endblock %}