{% extends 'investment_tracker/base.html' %}

{% block content %}

    <h1> {{ profile.first_name }}'s Portfolios </h1>

    {% if user_portfolios %}

        <table style = "width: 100%">

            <tr>
                <th> Portfolio Name </th>
                <th> Money Invested in $ </th>
                <th> Current Price in $ </th>
                <th> Value Change in $ </th>
                <th> Value Change in % </th>
            </tr>

            {% for portfolio in user_portfolios %}
                <tr>
                    <td> <a href = "{% url 'portfolio' portfolio.slug %}"> {{portfolio.portfolio_name}} </a> </td>
                    <td> {{ portfolio.get_money_invested_in_portfolio|floatformat:2  }} </td>
                    <td> {{ portfolio.get_current_portfolio_value|floatformat:2  }} </td>
                    <td>
                        <span class = "{% if portfolio.get_portfolio_value_change|slice:":1" == "+" %}positive{% elif portfolio.get_portfolio_value_change|slice:":1" == "-" %}negative{% endif %}">
                            {{ portfolio.get_portfolio_value_change }}
                        </span>
                    </td>
                    <td>
                        <span class = "{% if portfolio.get_portfolio_value_change_percentage|slice:":1" == "+" %}positive{% elif portfolio.get_portfolio_value_change_percentage|slice:":1" == "-" %}negative{% endif %}">
                            {{ portfolio.get_portfolio_value_change_percentage }}
                        </span>
                    </td>
                </tr>
            {% endfor %}

        </table>

    {% else %}
            
        You don't have any portfolios. <a href = "{% url 'create_portfolio' %}"> Click here to create your first portfolio. </a>

    {% endif %}



{% endblock %}