{% extends 'investment_tracker/base.html' %}

{% load static %}

{% load humanize %}

{% block content %}

    <h1> "{{ portfolio.portfolio_name }}" Portfolio </h1>

    <!-- graph container -->
    <div class = "grid-container">
        <div class = "grid-item">

            <div class = "info">
                <p><strong>Created By:</strong> {{ portfolio.portfolio_owner.user.username }}</p>
                <p><strong>Created On:</strong> {{ portfolio.portfolio_creation_time }}</p>
                <p><strong>Assets:</strong> {{ portfolio_assets_to_display }}</p>
                <p><strong>Total Invested:</strong> ${{ portfolio.get_money_invested_in_portfolio|floatformat:2 }}</p>
                <p><strong>Current Value:</strong> ${{ portfolio.get_current_portfolio_value|floatformat:2 }}</p>
                <p>
                    <strong>Value Change ($):</strong> 
                    <span class="{% if portfolio.get_portfolio_value_change|slice:":1" == "+" %}positive{% elif portfolio.get_portfolio_value_change|slice:":1" == "-" %}negative{% endif %}">
                        {{ portfolio.get_portfolio_value_change }}
                    </span>
                </p>
                <p>
                    <strong>Value Change (%):</strong> 
                    <span class="{% if portfolio.get_portfolio_value_change_percentage|slice:":1" == "+" %}positive{% elif portfolio.get_portfolio_value_change_percentage|slice:":1" == "-" %}negative{% endif %}">
                        {{ portfolio.get_portfolio_value_change_percentage }}
                    </span>
                </p>
            </div>

            <!-- period selection -->
            <div class = "controls">
                <label for = "timePeriod"> Select Time Period: </label>
                <select id = "timePeriod">
                    <option value = "1d"> 1 Day </option>
                    <option value = "5d"> 5 Days </option>
                    <option value = "1mo" selected> 1 Month </option>
                    <option value = "3mo"> 3 Months </option>
                    <option value = "6mo"> 6 Months </option>
                    <option value = "1y"> 1 Year </option>
                    <option value = "2y"> 2 Years </option>
                    <option value = "5y"> 5 Years </option>
                </select>
            </div>

            <!-- portfolio controls -->
            <div class = "button-row">
                {% if request.user == portfolio.portfolio_owner.user %}
                    <form method = "get" action = "{% url 'purchase_assets_for_portfolio' portfolio.slug %}">
                        <button type = "submit" class = "button"> Purchase Assets </button>
                    </form>

                    <form method = "get" action = "{% url 'rename_portfolio_page' portfolio.slug %}">
                        <button type = "submit" class = "button"> Rename Portfolio </button>
                    </form>

                    <form method = "post" action = "{% url 'delete_portfolio' portfolio.slug %}">
                        {% csrf_token %}
                        <button type = "submit" class = "button button-red"> Delete Portfolio </button>
                    </form>
                {% endif %}
            </div>

        </div>

        <div class = "grid-item">
            <canvas id = "differencePercentagesChart"></canvas>
        </div>
        <div class = "grid-item">
            <canvas id = "priceChart"></canvas>
        </div>
        <div class = "grid-item">
            <canvas id = "differenceChart"></canvas>
        </div>
    </div>


    <!-- hidden divs to store JSON data for each time period -->
     
    <!-- for absolute values -->
    <div id = "dayHistoricalPrices" style = "display: none;"> {{ day_historical_prices|safe }} </div>
    <div id = "fiveDaysHistoricalPrices" style = "display: none;"> {{ five_days_historical_prices|safe }} </div>
    <div id = "monthHistoricalPrices" style = "display: none;"> {{ month_historical_prices|safe }} </div>
    <div id = "threeMonthsHistoricalPrices" style = "display: none;"> {{ three_months_historical_prices|safe }} </div>
    <div id = "sixMonthsHistoricalPrices" style = "display: none;"> {{ six_months_historical_prices|safe }} </div>
    <div id = "yearHistoricalPrices" style = "display: none;"> {{ year_historical_prices|safe }} </div>
    <div id = "twoYearsHistoricalPrices" style = "display: none;"> {{ two_years_historical_prices|safe }} </div>
    <div id = "fiveYearsHistoricalPrices" style = "display: none;"> {{ five_years_historical_prices|safe }} </div>
    
    <!-- for absolute differences -->
    <div id = "dayHistoricalPricesDifferences" style = "display: none;"> {{ day_historical_prices_differences|safe }} </div>
    <div id = "fiveDaysHistoricalPricesDifferences" style = "display: none;"> {{ five_days_historical_prices_differences|safe }} </div>
    <div id = "monthHistoricalPricesDifferences" style = "display: none;"> {{ month_historical_prices_differences|safe }} </div>
    <div id = "threeMonthsHistoricalPricesDifferences" style = "display: none;"> {{ three_months_historical_prices_differences|safe }} </div>
    <div id = "sixMonthsHistoricalPricesDifferences" style = "display: none;"> {{ six_months_historical_prices_differences|safe }} </div>
    <div id = "yearHistoricalPricesDifferences" style = "display: none;"> {{ year_historical_prices_differences|safe }} </div>
    <div id = "twoYearsHistoricalPricesDifferences" style = "display: none;"> {{ two_years_historical_prices_differences|safe }} </div>
    <div id = "fiveYearsHistoricalPricesDifferences" style = "display: none;"> {{ five_years_historical_prices_differences|safe }} </div>

    <!-- for differences in percentages -->
    <div id = "dayHistoricalPricesDifferencesPercentages" style = "display: none;"> {{ day_historical_prices_differences_percentages|safe }} </div>
    <div id = "fiveDaysHistoricalPricesDifferencesPercentages" style = "display: none;"> {{ five_days_historical_prices_differences_percentages|safe }} </div>
    <div id = "monthHistoricalPricesDifferencesPercentages" style = "display: none;"> {{ month_historical_prices_differences_percentages|safe }} </div>
    <div id = "threeMonthsHistoricalPricesDifferencesPercentages" style = "display: none;"> {{ three_months_historical_prices_differences_percentages|safe }} </div>
    <div id = "sixMonthsHistoricalPricesDifferencesPercentages" style = "display: none;"> {{ six_months_historical_prices_differences_percentages|safe }} </div>
    <div id = "yearHistoricalPricesDifferencesPercentages" style = "display: none;"> {{ year_historical_prices_differences_percentages|safe }} </div>
    <div id = "twoYearsHistoricalPricesDifferencesPercentages" style = "display: none;"> {{ two_years_historical_prices_differences_percentages|safe }} </div>
    <div id = "fiveYearsHistoricalPricesDifferencesPercentages" style = "display: none;"> {{ five_years_historical_prices_differences_percentages|safe }} </div>
    
    <!-- for other parameters -->
    <div id = "portfolioCreationDate" style = "display: none;"> {{ portfolio.portfolio_creation_time|date:"Y-m-d H:i:s" }} </div>
    <div id = "portfolioMoneyInvested" style = "display: none;"> {{ portfolio.get_money_invested_in_portfolio }} </div>

    

    <!-- loading the Chart.js library -->
    <script src = "https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src = "https://cdn.jsdelivr.net/npm/chartjs-plugin-annotation"></script>
    <script src="https://cdn.jsdelivr.net/npm/chartjs-adapter-date-fns"></script>



    <!-- load the external JavaScript file -->
    <script src = "{% static 'js/value_chart.js' %}"></script>
    <script src = "{% static 'js/value_chart_diff.js' %}"></script>
    <script src = "{% static 'js/value_chart_diff_percent.js' %}"></script>

    <table style = "width: 100%">

        <tr>
            <th style = "white-space: nowrap; width: auto;"> Ticker </th>
            <th style = "white-space: nowrap; width: auto;"> Name </th>
            <th style = "white-space: nowrap; width: auto;"> Type </th>
            <th style = "white-space: nowrap; width: auto;"> Buy Date </th>
            <th style = "white-space: nowrap; width: auto;"> Buy <br> Quantity </th>
            <th style = "white-space: nowrap; width: auto;"> Buy <br> Price </th>
            <th style = "white-space: nowrap; width: auto;"> Buy <br> Value </th>
            <th style = "white-space: nowrap; width: auto;"> Price <br> Now </th>
            <th style = "white-space: nowrap; width: auto;"> Value <br> Now </th>
            <th style = "white-space: nowrap; width: auto;"> Value <br> Diff </th>
            <th style = "white-space: nowrap; width: auto;"> Percent <br> Diff </th>
        </tr>

        {% for portfolio_asset in portfolio_assets_with_info %}
            <tr>
                <td> <a href = "{% url 'asset_info' portfolio_asset.portfolio_asset_object.asset.ticker %}"> {{ portfolio_asset.portfolio_asset_object.asset.ticker }} </a> </td>
                <td> {{ portfolio_asset.portfolio_asset_object.asset.name }} </td>
                <td> {{ portfolio_asset.portfolio_asset_object.asset.asset_type }} </td>
                <td> {{ portfolio_asset.portfolio_asset_object.purchase_time }} </td>
                <td> {{ portfolio_asset.portfolio_asset_object.get_formatted_purchase_quantity }} </td>
                <td class = "right_align"> ${{ portfolio_asset.portfolio_asset_object.purchase_price|floatformat:2|intcomma }} </td>
                <td class = "right_align"> ${{ portfolio_asset.portfolio_asset_object.get_initial_value|floatformat:2|intcomma }} </td>
                <td class = "right_align"> ${{ portfolio_asset.current_price|floatformat:2|intcomma }} </td>
                <td class = "right_align"> ${{ portfolio_asset.current_value|floatformat:2|intcomma }} </td>
                <td class = "right_align">
                    <span class = "{% if portfolio_asset.current_value_change|slice:":1" == "+" %}positive{% elif portfolio_asset.current_value_change|slice:":1" == "-" %}negative{% endif %}">
                        {{ portfolio_asset.current_value_change }}
                    </span>
                </td>
                <td class = "right_align">
                    <span class = "{% if portfolio_asset.current_value_change_percentage|slice:":1" == "+" %}positive{% elif portfolio_asset.current_value_change_percentage|slice:":1" == "-" %}negative{% endif %}">
                        {{ portfolio_asset.current_value_change_percentage }}
                    </span>
                </td>
            </tr>
        {% endfor %}

    </table>

{% endblock %}