{% extends 'investment_tracker/base.html' %}

{% block content %}
<div class = "container">
    <h1> Register </h1>

    <form method = "post" novalidate class = "minimal-form">
        {% csrf_token %}

        <!-- rendering the form fields -->
        {% for field in form %}
        <div class = "form-group">
            {{ field }}

            {% if field.help_text %}
                <small class = "help-text"> {{ field.help_text }} </small>
            {% endif %}

            {% for error in field.errors %}
                <small class = "error-text"> {{ error }} </small>
            {% endfor %}
        </div>
        {% endfor %}

        <div>
            <button type = "submit" class = "button"> Register </button>
        </div>

        {% if form.errors %}
            <div class = "error-text">
                Please correct the errors in the form.
            </div>
        {% endif %}
    </form>
</div>
{% endblock %}
